In [ ]:
result = 10**2

In [ ]:
print('result=',result)